# Alles ignorieren ...
*

# Main file and README
!timeline_version_manager.*
!README*.md
!LICENSE

# Images
!images/
!images/DVR-timeline-version-manager.png
!images/DVR-timeline-version-manager_v0.1.8.png

# Whitelist Python legacy script directory and its contents
!python-legacy-script/
!python-legacy-script/timeline_version_up.py
!python-legacy-script/README_py.md
!python-legacy-script/LICENSE
!python-legacy-script/Anleitung_fuer_Terminal_Anfaenger.md

# Python specific
__pycache__/
*.py[cod]
*$py.class

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
